* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: #27272b;
  --body-main-color: #212123;
  --border-color: #333337;
  --crimson-color-00: #e8bf96;
  --crimson-color-11: #e8bf96ab;
  --white-color-00: #fff;
  --white-color-11: #fdfdfd;
  --white-color-22: #fefefe;
  --white-color-33: #d9d9d9;
  --white-color-44: #d5d5d5;
  --white-color-55: #ebebeb;
  --white-color-66: #fbfaf8;
  --gray-color-11: #8b7a7a;
  --gray-color-22: #ffffff2e;
  --gary-color-33: #a49999;
  --gray-color-44: #959595;
  --gray-color-55: #999999;
  --text-gray-900: #52526c;
  --dark-color-00: #000000;
  --dark-color-11: #101010;
  --dark-color-22: #171818;
  --dark-color-33: #343434;
  --dark-color-44: #262629;
  --dark-color-55: #1c1d20;
  --dark-color-66: #313134;
  --dark-color-77: #1a1a1a;
  --dark-color-88: #1c3f39;
  --dark-color-99: #222222;
  --dark-color-10: #242528;
  --dark-color-111: #1b1b1b;
}

body {
  background-color: var(--body-main-color);
  background-image: url("../image/bg.png");
  color: var(--gray-color-55);
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: "Euclid Circular B";
  overflow-x: hidden;
  /* cursor: none; */
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-color-55);
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.d-flex {
  display: flex;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-10 {
  width: 83.33%;
}

.col-12 {
  width: 100%;
}

.pb-20 {
  padding-bottom: 20px;
}

s

/* header-section  */
header {
  position: sticky;
  top: 0;
}

.header_main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  overflow: hidden;
  transform: translateY(0%);
  background-color: var(--body-main-color);
  background-image: url("../image/bg.png");
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transition: all 0.3s ease;
}

.overlay {
  position: relative;
}

.overlay_bg {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay_bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../image/pattern.png");
  background-repeat: repeat;
  opacity: 0.3;
  z-index: -2;
  transition: all 0.3s ease;
}

.heade_-main .overlay_bg:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dark-color-22);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: 1;
  transition: all 0.3s ease;
}

.header_main .overlay_content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-color-33);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 25px 75px;
  align-items: center;
  transition: all 0.3s ease;
}

.header_main .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 35px;
  position: relative;
}

.header_main .logo img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header_main ul {
  display: flex;
  margin-right: -46px;
}

.header_main li {
  margin-right: 46px;
}

.header_main .menu a.active {
  color: var(--crimson-color-00);
}

.header_main .menu a {
  color: var(--white-color-00);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-container-1 {
  position: relative;
  width: 170px;
  height: 60px;
  overflow: hidden;
  border: 1px solid;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  background: var(--crimson-color-00);
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: var(--bg-color);
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.mas-2 {
  display: none;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
  border-color: var(--crimson-color-00) !important;
}

.mas {
  position: absolute;
  color: var(--crimson-color-00);
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 17px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

.menu-btn {
  display: none;
}
.menu-2 {
  transform: translateY(0px);
  background-color: var(--dark-color-77);
  justify-content: flex-start;
}

.menu-2 li {
  margin-right: 46px;
  margin: 20px;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

/* intro section  */
.hero_section {
  margin-top: 110px;
}

.hero_section .hero_text {
  display: flex;
  justify-content: space-between;
  padding: 110px 0;
}

.hero_section .hero_text .left {
  margin-left: 0%;
  width: 50%;
  display: block;
}

.hero_section .hero_text .right {
  width: 50%;
  text-align: right;
  margin-top: 151px;
  display: block;
  margin-right: 0%;
}

.hero_section .hero_text .right h3 {
  font-family: "Bebas Neue";
  font-size: 120px;
  font-weight: 500;
  line-height: 1;
}

.hero_section .hero_text .left h3 {
  font-family: "Bebas Neue";
  font-size: 120px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.hero_section .hero_text .right h3 {
  font-family: "Bebas Neue";
  font-size: 83px;
  font-weight: 500;
  line-height: 1;
}

.stroke_text {
  color: transparent;
  -webkit-text-stroke: 1px var(--white-color-00);
}

.hero_section .inline_text {
  display: inline-block;
  position: relative;
  color: var(--white-color-00);
}

.hero_section .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  height: 2px;
  width: 446.25px;
  background-color: var(--gray-color-44);
  margin-left: 45px;
}

.hero_section .wings {
  position: absolute;
  right: 0;
  top: -24px;
}

.hero_section .wing {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
}

.hero_section .up {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid var(--gray-color-44);
  border-radius: 50%;
  position: absolute;
  right: -25px;
  bottom: -1px;
}

.hero_section .down {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid var(--gray-color-44);
  border-radius: 50%;
  position: absolute;
  right: -25px;
  top: -1px;
}

/* my-resume section  */

.resume_content .sec-title-wrapper {
  text-align: center;
  padding-bottom: 60px;
}

.sec-sub-title::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: var(--gary-color-11);
  top: -3px;
  right: -13px;
  border-radius: 50%;
  z-index: -1;
}

.sec-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--crimson-color-00);
  font-family: "Estedad-FD";
  position: relative;
  z-index: 1;
}

.sec-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  color: var(--white-color-00);
  margin-top: 15px;
}

.developer-resume__tab-wrapper {
  padding-bottom: 130px;
}

.developer-resume__tab-menu ul {
  gap: 10px;
  /* height: 60px; */
  max-width: 860px;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 60px;
  background-color: var(--dark-color-44);
  cursor: pointer;
}

.tab-content {
  margin-top: 90px !important;
}

.developer-resume__tab-menu .about__bio {
  margin: 0px;
  background-color: transparent;
}

.developer-resume__tab-menu ul li {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  cursor: pointer;
}

.nav-pills .nav-link.active {
  color: var(--bg-color) !important;
  background-color: var(--crimson-color-00) !important;
}

.developer-resume__tab-menu ul li .nav-link {
  display: inline-block;
  padding: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color-00);
  border-radius: 100px;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  overflow: hidden;
  z-index: 1;
}

.developer-resume__tab-menu ul li .nav-link::before {
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  border-radius: 100px;
  background: var(--crimson-color-00) !important;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.developer-resume__tab-menu ul li .nav-link:hover {
  color: var(--dark-color-55);
}

.developer-resume__tab-menu ul li .nav-link:hover::before {
  inset-inline-start: 0%;
  inset-inline-end: auto;
  width: 100%;
}

.developer-resume__tab-list {
  display: flex;
}

.developer-about__area {
  gap: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.developer-about__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.developer-about__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: var(--white-color-00);
}

.developer-about__content p {
  max-width: 470px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.developer-about__content p span {
  font-weight: 500;
  color: var(--white-color-00);
}

.about__bio li {
  display: grid;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 2px;
  grid-template-columns: 130px 40px auto;
}

.about__bio li strong {
  font-weight: 500;
  color: var(--white-color-00);
}

.developer-about__img {
  background-image: url("../image/5.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
}

.developer-about__img .about-me {
  margin-bottom: 9px;
  border-radius: 330px 330px 330px 330px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 542px;
  height: 560px;
}

.developer-about__img .about-shape-1 {
  position: absolute;
  bottom: 20px;
  inset-inline-start: 0;
}

.developer-about__img .about-shape-2 {
  position: absolute;
  bottom: -50px;
  inset-inline-start: 150px;
}

/* 2 experience */
.experience__grid {
  display: grid;
  grid-gap: 40px 17%;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding-inline-start: 55px;
}

.experience__grid::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 100%;
  inset-inline-start: 0;
  bottom: 0;
  background-image: url("../image/2.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}

.experience__grid::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset-inline-start: calc(59% - 38px);
  bottom: 0;
  background-image: url("../image/2.png");
  background-repeat: no-repeat;
  background-repeat: repeat-y;
}

.experience__item {
  padding: 35px;
  background-color: var(--dark-color-66);
}

.experience__item .exp-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--crimson-color-00);
  margin-bottom: 10px;
}

.experience__item .exp-time span {
  padding-inline-end: 5px;
}

.experience__item .exp-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--white-color-00);
}

.experience__item .company {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-gray-700);
  margin-bottom: 20px;
  text-transform: capitalize;
}

.experience__item p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-4);
}

.experience__item:nth-child(even) {
  margin-inline-start: auto;
}

/* 3 education  */
.mil-icon-box a {
  color: var(--dark-color-11);
}

.mil-icon-box .mil-text-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.mil-icon-box .mil-text-icon::after {
  top: -40px;
  left: auto;
  right: -20px;
}

.mil-icon-box .mil-text-icon::after,
.mil-contact-card::after {
  z-index: -11;
  --dot-size: 2px;
  --dot-space: 10px;
  background: linear-gradient(
        90deg,
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    #e8bf96;
  opacity: 0.3;
}

.mil-icon-box .mil-box-text {
  width: calc(100% - 70px);
  padding-left: 40px;
  padding-top: 5px;
}

.mil-mb-15 {
  margin-bottom: 15px;
}

.mil-upper {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-color-11);
  line-height: 100%;
}

.mil-text-lg {
  font-size: 18px !important;
}

.mil-upper.mil-upper-sm {
  font-size: 14px;
}

.mil-mb-30 {
  margin-bottom: 30px;
}

.mil-accent {
  text-transform: uppercase;
}

/* 4 skill  */
.mil-mb-60 {
  margin-bottom: 60px;
}

.mil-text-row {
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mil-icon-box .mil-text-icon {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid var(--dark-color-11);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding-bottom: 5px;
}

.mil-icon-box .mil-text-icon::before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  background: var(--crimson-color-00);
  width: 100%;
  height: 100%;
  z-index: -2;
}

.mil-progress-inline {
  width: calc(100% - 90px);
}

.mil-upper {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--white-color-22);
  line-height: 100%;
}

.mil-progress-track {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 5px 0;
  margin-left: 7px;
}

.mil-progress-track .mil-progress {
  position: relative;
  left: -7px;
  height: 10px;
  border-bottom: 2px solid var(--crimson-color-00);
  border-right: 2px solid var(--crimson-color-00);
}

.mil-progress-track .mil-progress .mil-upper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -29px);
  line-height: 20px;
}

.mil-upper.mil-upper-sm {
  font-size: 14px;
}

.mil-accent {
  color: var(--crimson-color-00);
}

.mil-text-icon i {
  font-weight: 800;
  color: var(--dark-color-00);
}

.mil-bg-item {
  opacity: 0.35;
  width: 340px;
  height: 420px;
  position: absolute;
  z-index: -1111;
  border-radius: 50%;
  transform: rotate(30deg);
  --dot-size: 2px;
  --dot-space: 10px;
  background: linear-gradient(
        90deg,
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    #e8bf96;
}

.mil-bg-item:before {
  content: "";
  width: 100px;
  border-radius: 50%;
  left: -100px;
}

.mil-bg-item:before,
.mil-bg-title-boxed {
  height: 150px;
  --dot-size: 2px;
  --dot-space: 10px;
  background: linear-gradient(
        90deg,
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        #27272b calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    #e8bf96;
  position: absolute;
}

/* services  section*/
.e-con-inner {
  flex-wrap: wrap;
  justify-content: initial;
  align-items: initial;
  align-content: initial;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: auto;
  position: relative;
  background-color: var(--dark-color-77);
  padding-top: 80px;
}

.section-title {
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}

.section-title span {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--crimson-color-00);
  position: relative;
  z-index: 1;
}

.section-title span::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: var(--gray-color-11);
  top: -3px;
  right: -15px;
  border-radius: 50%;
  z-index: -1;
}

.section-title h2 {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 15px;
  color: var(--white-color-22);
  display: block;
  margin-top: 15px;
}

.mil-suptitle {
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.mil-light-soft {
  color: rgba(255, 255, 255, 0.4);
}

.mil-suptitle.mil-suptitle-right {
  text-align: right;
}

.mil-suptitle.mil-suptitle-right:before {
  left: calc(100% + 30px);
}

.mil-suptitle:before {
  content: "";
  position: absolute;
  right: calc(100% + 30px);
  top: 10px;
  width: 600px;
  height: 1px;
  background-color: var(--white-color-00);
  opacity: 0.2;
}

.mil-complex-text {
  display: flex;
  align-items: center;
}

.mil-mb-15 {
  margin-bottom: 15px;
}

.mil-text-image {
  height: 80px;
  width: 250px;
  display: inline-block;
  overflow: hidden;
  border-radius: 70px;
  margin-right: 30px;
}

.mil-center {
  text-align: center;
}

.mil-muted {
  color: rgba(255, 255, 255, 0.9);
}

.mil-h1 {
  font-size: 86px;
}

.mil-thin {
  font-weight: 100;
}

.button-container-2 {
  border-radius: 50px;
}

.mil-services-grid {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.mil-services-grid .mil-services-grid-item:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.mil-services-grid .mil-services-grid-item {
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

.mil-service-card-sm {
  position: relative;
  display: block;
  padding: 60px 30px;
}

.mil-service-card-sm:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
  background-color: var(--crimson-color-00);
  transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-service-card-sm p {
  opacity: 0;
  transform: translateY(10px);
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-service-card-sm .mil-button {
  transform: scale(0.3);
  transform-origin: left;
  filter: grayscale(100%);
  opacity: 0.4;
}

.mil-button.mil-icon-button-sm {
  padding: 0;
  height: 40px;
}

.mil-button i {
  border-radius: 50%;
  text-align: left;
  font-size: 40px;
  padding: 10px;
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-service-card-sm:hover p {
  opacity: 1;
  transform: translateY(0);
}

.mil-service-card-sm:hover:before {
  width: 100%;
}

.mil-service-card-sm:hover .mil-button {
  transform: scale(1);
  filter: grayscale(0);
  opacity: 1;
  /* transition: all 0.2s ease-in-out; */
}

.mil-button.mil-icon-button-sm i {
  margin-left: 0;
  background-color: var(--crimson-color-00);
  color: var(--dark-color-00);
}

.mil-mb-120 {
  margin-bottom: 120px;
}

/* Portfolio section*/
.section-title-portfolio {
  text-align: left;
}

.slider {
  display: flex;
}

.container-fulid {
  width: 1300px;
  margin: 0px auto;
}

.slider .card {
  flex: 1;
  margin: 0 10px;
  background: transparent;
  border: transparent;
}

.slider .card .img {
  height: auto;
  width: 100%;
}

.slider .card .img img {
  height: 300px;
  width: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.slider .card .content {
  margin-top: 38px;
  margin-bottom: 18px;
}

.card span a {
  height: 34px;
  display: inline-block;
  border: 1px solid var(--dark-color-88);
  background: var(--crimson-color-00);
  color: var(--dark-color-99);
  line-height: 35px;
  padding: 0 24px;
  border-radius: 30px 5px 5px 5px;
}

.card h3 {
  font-size: 24px;
  color: var(--white-color-00);
}

.card h3:hover {
  color: var(--crimson-color-00);
}

.port-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 27px;
  opacity: 1;
  transition: 0.5s;
}

/* blog-video section  */
.single-blog {
  position: relative;
  border-top: 1px solid var(--white-color-33);
  border-bottom: 1px solid var(--white-color-33);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.post-meta span {
  display: block;
  line-height: 35px;
}

.post-meta i {
  padding-right: 5px;
}

.post-meta span a {
  color: var(--text-gray-700);
}

.single-blog h3 {
  font-size: 23px;
  line-height: 37px;
  margin-bottom: 0;
}

.single-blog h3 a {
  color: var(--white-color-44);
  transition: 0.5s;
}

.blog_btn {
  width: 50px;
  height: 50px;
  line-height: 48px;
  border-radius: 50%;
  border: 1px solid var(--white-color-00);
  display: inline-block;
  transition: 0.5s;
}

.blog_btn i {
  transform: rotate(-35deg);
  display: inline-block;
  color: var(--white-color-00);
}

.single-blog:hover .blog_btn {
  background-color: var(--crimson-color-00);
  transform: rotate(35deg);
}

.single-blog .post-img {
  position: absolute;
  right: -30%;
  top: 5%;
  opacity: 0;
  transition: 0.8s;
  z-index: -1;
}

.single-blog:hover .post-img {
  right: 20%;
  top: 0;
  opacity: 1;
}

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.circle_btn {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border: 1px solid var(--crimson-color-00);
  border-radius: 50%;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  transition: 0.5s;
  color: var(--crimson-color-00);
}

.circle_btn:hover {
  background: var(--crimson-color-00);
  color: var(--white-color-00);
}

/* contact-us  */
.contact-us {
  margin-bottom: 180px;
}

.contact-title {
  font-size: 58px;
  color: var(--white-color-00);
  text-shadow: 5px 5px 0 rgba(232, 191, 150, 0.28);
}

.mil-contact-card {
  position: relative;
  padding: 30px;
  border: 2px solid var(--crimson-color-11);
}

.mil-contact-card::before {
  content: "";
  position: absolute;
  left: 5px;
  right: -9px;
  top: 5px;
  bottom: -9px;
  border: 2px solid var(--gray-color-22);
  pointer-events: none;
}

.mil-contact-card::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.mil-contact-card a {
  color: inherit;
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

input {
  height: 60px;
  padding: 0 30px;
  color: var(--dark-color-11);
}

label {
  margin-bottom: 15px;
}

input,
textarea {
  border: none;
  font-family: Jost, sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: var(--white-color-00);
}

textarea {
  padding: 15px 30px;
  height: 120px;
  color: var(--dark-color-11);
  resize: none;
}

/* hire me  */
.call-to-action {
  background-size: cover;
  padding: 80px 0 140px 0px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background-color: var(--dark-color-10);
  border: 2px solid var(--crimson-color-00);
}

.mb160 {
  margin-bottom: -160px;
}

.btn-center {
  position: absolute;
  display: flex;
  justify-content: center;
}

.call-to-action h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white-color-00);
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--white-color-00);
}

/* footer  */
.footer {
  background-color: var(--dark-color-111);
  color: var(--gary-color-33);
  padding: 80px 0 30px;
  position: relative;
}

.pt220 {
  padding-top: 220px;
}

.fotter-title {
  color: var(--white-color-00);
  font-size: 28px;
  margin-bottom: 35px;
}

.footer ul {
  list-style-type: none;
  margin-bottom: 30px;
}

.socail-link li {
  display: inline-table;
  margin-right: 20px;
}

.socail-link li a {
  width: 42px;
  height: 42px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid var(--gary-color-33);
  display: block;
  text-align: center;
  font-size: 19px;
  color: var(--gary-color-33);
  transition: 0.5s;
  position: relative;
  z-index: 111;
}

.fcontact-info p {
  font-size: 19px;
  line-height: inherit;
  margin-bottom: 7px;
}

.fcontact-info a {
  transition: 0.5s;
  color: var(--gary-color-33);
}

.socail-link li a:hover {
  background-color: var(--crimson-color-00);
  border-color: var(--crimson-color-00);
  color: var(--dark-color-111);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-color-10);
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid var(--crimson-color-00);
}

/* back to top  */
.go-top {
  position: fixed;
  bottom: 20%;
  right: 3%;
  padding: 20px;
  display: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.go-top:after {
  font-family: FontAwesome;
  content: "\f106";
  background-color: var(--crimson-color-00);
  padding: 10px 15px;
  color: var(--dark-color-11);
  position: absolute;
  bottom: -150px;
  right: -15px;
  font-size: 28px;
}

.go-top-text {
  position: absolute;
  width: 60px;
  text-align: center;
  font-family: "Questrial";
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 12px;
  margin: 20px 0 0 -4px;
}

.go-top:hover {
  transition: all 0.4s linear;
  transform: scale(1.1);
}

/* cursor pointer  */
.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--white-color-66);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 99;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--crimson-color-00);
  opacity: 0.8;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 99;
}

.hover {
  background-color: rgb(7, 7, 7);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

/* preloader */
.mil-preloader.mil-hidden {
  pointer-events: none;
}
.mil-preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-color-77);
}
.mil-preloader .mil-preloader-animation {
  opacity: 0;
  position: relative;
  height: 100vh;
  color: var(--white-color-00);
}
.mil-preloader .mil-preloader-animation .mil-pos-abs {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mil-preloader .mil-preloader-animation .mil-pos-abs p {
  opacity: 0;
  margin-right: 15px;
  font-size: 40px;
}
.mil-muted {
  color: rgba(255, 255, 255, 0.9);
}
.mil-thin {
  font-weight: 100;
}
.mil-preloader .mil-preloader-animation .mil-pos-abs p:last-child {
  margin-right: 0;
}
.mil-preloader .mil-preloader-animation .mil-pos-abs .mil-reveal-frame {
  position: relative;
  padding: 0 30px;
}
.mil-preloader
  .mil-preloader-animation
  .mil-pos-abs
  .mil-reveal-frame
  .mil-reveal-box {
  z-index: 99999;
  position: absolute;
  opacity: 0;
  height: 100%;
  background-color: var(--crimson-color-00);
}
